name: Lint, Build and Test
on: push
strategy:
  matrix:
    node-version: [22]
jobs:
  lint-build-test:
    runs-on: ubutu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v6
      - name: Set up Node.js
        uses: actions/setup-node@v6
        with:
          node-version: ${{ matrix.node-version }}
      - name: Install dependencies
        run: npm ci
      - name: Lint code
        run: npm run lint
      - name: Build Project
        run: npm run build
      - name: Run tests
        run: npm test
